
.layer-ctrl {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 12px;
	right: 12px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	z-index: 200;
	display: block;
}
.mapbook-ctrl {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 72px;
	right: 12px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}

.quicklocate-ctrl{
	position: absolute;
	width: 52px;
	height: 52px;
	top: 132px;
	right: 12px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.armydraw_ctrl{
	position: absolute;
	width: 52px;
	height: 52px;
	top: 192px;
	right: 12px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}

.routeanimate_ctrl{
	position: absolute;
	width: 52px;
	height: 52px;
	top: 252px;
	right: 12px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: none;
}
.drawcircle_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 500px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.drawrect_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 530px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.drawpolygon_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 560px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.drawpolyline_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 590px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.drawpoint_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 620px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.clear_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 650px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.measurelength_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 680px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.measurearea_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 710px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}

.tsearch_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 740px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}

.searche_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 760px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.zoomin_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 410px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.zoomout_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 440px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.zoomtoextent_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 470px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.showgrid_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 740px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.showhistorygrid_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 770px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.showhistorygrid_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.showgrid_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.zoomtoextent_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.zoomout_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.zoomin_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.measurearea_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.measurelength_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.clear_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.drawpoint_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.drawpolyline_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.drawpolygon_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.drawrect_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.drawcircle_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.armydraw_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.armydraw_ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.layer-ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.geogrid-ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.quicklocate-ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.mapbook-ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.geogrid-ctrl{
	position: absolute;
	width: 52px;
	height: 52px;
	top: 12px;
	right: 72px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
.geogrid-ctrl .title,
.routeanimate_ctrl .title,
.armydraw_ctrl .title,
.quicklocate-ctrl .title,
.mapbook-ctrl .title,
.layer-ctrl .title {
	position: absolute;
	text-align: center;
	width: 54px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	top: 35px;
	left: -1px;
	font-size: 12px;
	color: #ffffff;
	background-color: rgba(22, 68, 102, 0.8);
	transition: background-color 0.2s;
}
.baselayer-ctrl:hover .title,
.routeanimate_ctrl:hover .title,
.armydraw_ctrl:hover .title,
.quicklocate-ctrl:hover .title,
.layer-ctrl:hover .title,
.mapbook-ctrl:hover .title {
	background-color: rgba(99, 99, 99, 1);
}
.no-track-tip {
	position: absolute;
	text-align: center;
	top: 10px;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	color: #F54336;
	right: 60px;
	overflow: hidden;
	width: 200px;
	background-color: rgba(66, 66, 66, 1);
	display: none;
}

.baselayer-ctrl {
	position: absolute;
	width: 52px;
	height: 52px;
	top: 12px;
	right: 132px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	z-index: 200;
	display: block;
}
.baselayer-ctrl:hover {
	border: 1px solid rgba(22, 68, 102, 1);
}
.baselayer-ctrl .title {
	position: absolute;
	text-align: center;
	width: 54px;
	height: 18px;
	line-height: 18px;
	display: inline-block;
	top: 35px;
	left: -1px;
	font-size: 12px;
	color: #ffffff;
	background-color: rgba(22, 68, 102, 0.8);
	transition: background-color 0.2s;
}

#id_playwindow {
	width: 600px;
	float: left;
	height: 400px;
}

.controlLine {
	width: 600px;
	height: 50px;
	background-color: rebeccapurple;
	border: 1px solid;
}

.plugincontent {
	width: 600px;
	height: 350px;
	background-color: bisque;
	border: 1px solid;
}

.controlImg {
	width: 30px;
	height: 30px;
	margin-top: 10px;
	margin-left: 10px;
}


.esDataList{
	position: absolute;
	top: 0%;
	width: 22%;
	height: 100%;
	overflow-y: auto;
	display: none;
}
.esDatatitle{
	background-color: burlywood;
	padding-left: 50%;
}
.esDatabody{
	overflow-y: auto;
	height: 571px;
	background-color: white;
}
.esDatafoot{
	background-color: beige;
	padding-left: 50%;
}
.searchEsData{
	width: 40%;
	height: 53%;
	position: absolute;
	background-color: white;
	top: 10%;
	left: 52%;
	border-radius: 6px;
}

.searchEsTitle{
	padding-left: 2%;
	padding-top: 1%;
	background-color: lightgray;
	border-radius: 4px;
}
.searchEsTitleClose{
	margin-right: 10px;
	float: right;
}

#searchInput{
	margin-top: 4%;
	margin-bottom: 4%;
	margin-left: 6%;
}
.searchStyleForES{display: initial;width: 100%;}
.labelForES{width: 25%;margin-right: 1%;}
.imgForES{width: 60%;cursor: pointer;}
.checkboxForES{width: 21px;
	height: 18px;
	margin-top: -4px;}
.searchESForLabel{
	height: 50px;
	display: initial;
	float: left;
}
.searchESForFont{
	font-style: normal;
	font-size: inherit;
	font-weight: 300;
}
#expandDataList{
	margin-top: -53%;
	position: absolute;
	margin-left: 1%;
	background-color: white;
	width: 5%;
}

.searchESForLabelMargin{
	margin-left: 4%;
}

.drawMapBtnClz{
	font-size: 20px;
	position: absolute;
	width: 60px;
	height: 40px;
	top: 10px;
	left: 237px;
	padding-top:6px;
	padding-left:10px;
	cursor:pointer;
	color:#fff;
	background:rgba(124,130,142,.8);
	z-index: 1;
}
.tsearch_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 800px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}

.searche_ctrl{
	position: absolute;
	width: 30px;
	height: 30px;
	top: 12px;
	left: 760px;
	/**background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);**/
	cursor: pointer;
	display: block;
}
