.map{
	position: absolute;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}
.ol-popup-radar{
	position: absolute;
	background-color: white;
	padding:15px;
	border-radius: 100%;
	bottom: -165px;
	left:-165px;
	min-width: 280px;
	border:1px solid #cccccc;
}
.ol-popup{
	position: absolute;
	background-color: rgba(50, 62, 68,0.9);
	box-shadow: 3px 3px 5px #666;
	padding:15px;
	border-radius: 10px;
	border:1px solid rgb(15, 22, 26);
	bottom: 35px;
	left:-50px;
	min-width: 200px;
	z-index: 1;
}
.ol-popup:after, .ol-popup:before{
	top:100%;
	border:solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after{
	border-top-color: rgb(50, 62, 68);
	border-width: 10px;
	left:48px;
	margin-left:-10px;
}
.ol-popup:before{
	border-top-color: rgb(50, 62, 68);
	border-width: 11px;
	left:48px;
	margin-left:-11px;
}
.ol-popup-closer{
	text-decoration: none;
	position: absolute;
	top:7px;
	right: 8px;
	cursor: pointer;
}
.ol-popup-info{
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	padding-left: 20px;
	margin-left: -7px;
	/* padding-top: 0px; */
	overflow: hidden;
	top: -8px;
	height: 20px;
	position: relative;
}
.ol-popup-info:after{
	content: "";
}
.ol-popup-net {
	border-top: 1px solid #1b2428;
	background: #626B6F;
	height: 1px;
	width: 100%;
	margin-top: -7px;
	overflow: hidden;
}
.ol-popup-content{
	margin-top: auto;
	color: white;
}
.ol-control-img{display:block;margin:1px;padding:0;color:#fff;font-size:1.14em;font-weight:700;text-decoration:none;text-align:center;height:1.375em;width:1.375em;line-height:.4em;background-color:rgba(0,60,136,.5);border:none;border-radius:2px}.ol-control-img::-moz-focus-inner{border:none;padding:0}
/*.ol-control img{display:block;margin:1px;padding:0;color:#fff;font-size:1.14em;font-weight:700;text-decoration:none;text-align:center;height:1.375em;width:1.375em;line-height:.4em;background-color:rgba(0,60,136,.5);border:none;border-radius:2px}.ol-control img::-moz-focus-inner{border:none;padding:0}*/
.ol-zoom-extent-new{
	left:.5em;
	top:4.0em
}
.ol-zoom-extent-new{
	left:.5em;
	top:4.0em
}
.ol-zoomslider{top:6.0em}
.ol_armyDraw_button{
	opacity: 1;
	min-width: 200px;
}
.ol-mouse-position{
	top:92%;
	left:10px;
	position:absolute
}

.ol-custom-overviewmap,
.ol-custom-overviewmap.ol-uncollapsible {
	bottom: 20em;
	left: auto;
	right: 20em;
	top: auto;
}

.ol-custom-overviewmap:not(.ol-collapsed)  {
	border: 1px solid black;
}

.ol-custom-overviewmap .ol-overviewmap-map {
	border:1px solid #7b98bc;
	height:200px;
	margin:2px;
	width:200px
}

.ol-custom-overviewmap .ol-overviewmap-box {
	border: 2px solid red;
}

.ol-custom-overviewmap:not(.ol-collapsed) button{
	bottom: 1px;
	left: auto;
	right: 1px;
	top: auto;
}
.ol-attribution{
	text-align:right;
	bottom:.5em;
	right:2.5em;
	max-width:calc(100% - 1.3em)
}
.ol-full-screen{
	right:20.5em;
	top:.5em
}

.tmap-measure-length {
	right:22.5em;
	top:.5em
}
.tmap-measure-area {
	right:24.5em;
	top:.5em
}
.tmap-clearcontrol{
	right:26.5em;
	top:.5em
}
.t-tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}
.t-tooltip-measure {
	opacity: 1;
	font-weight: bold;
}
.t-tooltip-static {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
}
.t-tooltip-measure:before,
.t-tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}
.t-tooltip-static:before {
	border-top-color: #ffcc33;
}
.t-tooltip.in {
	opacity: 1;
	filter: alpha(opacity=100);
}
.t-tooltip.top .t-tooltip-arrow {
	border-top-color: white;
}
.t-tooltip-inner {
	border: 2px solid white;
}
.tmap-layerswap-box{
	overflow-y: auto;
	overflow-x: auto;
	color: white;
	position: absolute;
	width: 210px;
	height: 150px;
	right:70px;
	top:12px;
	background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);
	cursor: pointer;
	z-index: 200;
	display: block;
}
.tmap-layerswap-box-no{
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tmap-geogrid-box{
	overflow-y: auto;
	overflow-x: auto;
	color: white;
	position: absolute;
	width: 230px;
	height: 170px;
	right:132px;
	top:12px;
	background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);
	cursor: pointer;
	z-index: 200;
	display: block;
}
.tmap-geogrid-box-no{
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tmap-draw-point {
	right:28.5em;
	top:.5em
}
.tmap-draw-line {
	right:30.5em;
	top:.5em
}
.tmap-draw-polygon {
	right:32.5em;
	top:.5em
}
.tmap-draw-circle {
	right:36.5em;
	top:.5em
}
.tmap-draw-rectangle {
	right:34.5em;
	top:.5em
}
.tmap-route-animationcontrol{
	right:.5em;
	top:10.5em
}
.tmap-path-animationcontrol{
	right:.5em;
	top:12.5em
}
.tmap-route-animation {
	visibility: visible;
	position: absolute;;
	bottom: 75px;
	left: 10%;
	width: 30%;
  height: 60px;
	background: rgba(37, 132, 228, 0.8);
	padding: 10px;
	color: #cccccc;
	border-radius: 20px;
}
.tmap-route-animation-hidden {
	visibility: hidden;
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tmap-route-animation－listbox-hidden {
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
	visibility: hidden;
}
.tmap-path-animation－listbox-hidden {
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
	visibility: hidden;
}
.tmap-route-animation－colorpicker-hidden {
	width: 0px;
	height: 0px;
	visibility: hidden;
}
.tmap-route-animation－listbox {
	visibility: visible;
	height: 88px;
	border-radius: 10px;
	position: absolute;
	bottom: 50px;
	width: 270px;
	left:70px;
	background: rgba(37, 132, 228, 0.4);
	overflow-y: auto;
	overflow-x: auto;
	vertical-align: middle;
	color: darkblue;
}
.tmap-path-animation－listbox {
	visibility: visible;
	height: 88px;
	border-radius: 10px;
	position: absolute;
	bottom: 35px;
	width: 270px;
	left:50%;
	background: rgba(37, 132, 228, 0.4);
	overflow-y: auto;
	overflow-x: auto;
	vertical-align: middle;
	color: darkblue;
}
.tmap-route-animation－colorpicker {
	visibility: visible;
	height: 200px;
	position: absolute;
	bottom: 50px;
	width: 70px;
	left:350px;
	background: rgba(37, 132, 228, 0.4);
	overflow-y: auto;
	overflow-x: auto;
	vertical-align: middle;
	color: darkblue;
}
.tmap-route-animation－slider{
	width: 100%;
	margin-top: 0px;
}
.tmap-route-animation－buttons{
	width: 100%;
	height: 25px;
  margin-top: 20px;
	vertical-align: middle;
	margin-left: 0px;
	margin-top: 0px;
	cursor: pointer;
}
.tmap-route-animation－times{
  color: #fff;
  margin-left: 50px;
  font-size: smaller;
  margin-right: 20px;
}
.tmap-route-animation－button{margin:1px;padding:0;color:#fff;font-size:1.3em;font-weight:700;text-decoration:none;text-align:center;height:1.475em;width:1.475em;line-height:.4em;border:none;border-radius:2px}
.tmap-route-animation－button-nactive{color: grey;opacity: 0.4;margin:1px;padding:0;color:#fff;font-size:1.3em;font-weight:700;text-decoration:none;text-align:center;height:1.475em;width:1.475em;line-height:.4em;border:none;border-radius:2px}
.tmap_bookmark_element {
	right:.5em;
	top:4.5em;
	display:inline;
}
.tmap_bookmark_element-c {
	right:2.5em;
	top:4.5em;
	display:inline;
}
.tmap_bookmark_container{
	overflow-y: auto;
	overflow-x: auto;
	color: white;
	position: absolute;
	width: 210px;
	height: 150px;
	right:70px;
	top:72px;
	background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);
	cursor: pointer;
	z-index: 200;
	display: block;
}
.tmap-remark-box-no{
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tmap_bookmark_a{
	width: 30px;
	text-decoration: none;
	font-size: small;
	margin-right: 5px;
	color: white;
}
.tmap_bookmark_select{
	width: 210px;
}
.tmap-centerat {
	right:.5em;
	top:6.5em
}
.tmap-centerat-c {
	right:2.5em;
	top:6.5em
}
.tmap-centerat-box{
	padding-top: 5px;
	vertical-align: middle;
	overflow-y: auto;
	overflow-x: auto;
	color: white;
	position: absolute;
	width: 210px;
	height: 100px;
	right:70px;
	top:132px;
	background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);
	cursor: pointer;
	z-index: 200;
	display: block;
}
.tmap-centerat-box-no{
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tmap-draw-army{
	right: .5em;
	top: 8.5em
}
.tmap-draw-army-c{
	right: 2.5em;
	top: 8.5em
}
.tmap-draw-army-box{
	padding-top: 5px;
	vertical-align: middle;
	overflow-y: auto;
	overflow-x: auto;
	color: white;
	position: absolute;
	width: 220px;
	height: 250px;
	right:70px;
	top:192px;
	background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);
	cursor: pointer;
	z-index: 200;
	display: block;
}
.tmap-draw-army-box-no{
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.checkboxFour{
	width: 15px;
	height: 15px;
	background: #ddd;
	border-radius: 100%;
	margin-right: 5px;
	margin-left: 5px;
	position: relative;
	-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
	float: left;
}
.checkboxFour label{
	display: block;
	width: 11.25px;
	height: 11.25px;
	border-radius: 100%;
	-webkit-transform: all 0.5s ease;
	-moz-transform: all .5s ease;
	-o-transform: all .5s ease;
	-ms-transform: all .5s ease;
	transform: all .5s ease;
	cursor: pointer;
	position: absolute;
	top:1.875px;
	left: 1.875px;
	z-index: 1;
	background: #333;
	-webkit-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);
}
.checkboxFour input[type=checkbox]:checked + label {
	background: #26ca28;
}
.tmap_canvas_pointfly{
	position: absolute;
	z-index: 100000;
	background-color: none;
	/*opacity: 0.5;*/
	pointer-events: none;
}
.redar-overLay-tips{
	font: "微软雅黑";
	font-size: 10px;
}
.redar-overLay-control{
	height: 80px;
	width: 100px;
	border-color: black;
	background: rgba(255, 0, 0, 1);
}
.redar-overLay-control-btn{
	height: 20px;
	width: 100px;
	font-size: 10px;
	border: 0;
}


#tmap-timeroute-animation-timeline{
	position: absolute;
	left: 0px;
	transition: bottom  0.5s;
}
#tmap-timeroute-animation-timeCtr {
	z-index: 10002;
	position: absolute;
	width: 21px;
	height: 20px;
	left: 0px;
	top: 50px;
	margin-left: -3px;
	cursor: pointer;
}
#tmap-geogrid-animation-timeline{
	position: relative;
	left: 0px;
	transition: bottom  0.5s;
}
#tmap-geogrid-animation-timeCtr {
	z-index: 10002;
	position: relative;
	width: 21px;
	height: 20px;
	left: -309px;
	top: -20px;
	margin-left: -3px;
	cursor: pointer;
}

.tmap-baselayer-box{
	overflow-y: auto;
	overflow-x: auto;
	color: white;
	position: absolute;
	width: 210px;
	height: 150px;
	right:192px;
	top:12px;
	background: rgba(66, 66, 66, 0.7);
	border: 1px solid rgba(66, 66, 66, 1);
	cursor: pointer;
	z-index: 200;
	display: block;
}
.tmap-baselayer-box-no{
	width: 0px;
	height: 0px;
	overflow-y: hidden;
	overflow-x: hidden;
}
.tmap-iframe-videoStyle{
	width: 603px;
	height: 405px;
	margin-top: 10px;
}
.ol-control button, .ol-attribution, .ol-scale-line-inner {
	font-family: 'Lucida Grande',Verdana,Geneva,Lucida,Arial,Helvetica,sans-serif;
}
.tmap_circleContainer {
	width: 320px;
	height: 300px;
	left: 0px;
	top: 0px;
	z-index: 9999;
}

.tmap_circle1 {
	width: 107px;
	height: 107px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	margin-left: -60px;
	border-color: #208496 transparent;
	border-width: 10px;
	border-style: solid;
	border-radius: 100px;
	box-shadow: 0 0 50px #E6CB09;
	-webkit-animation: banimation 1s linear 0s infinite alternate;
	-webkit-transform: rotate(145deg) scale(2,2);
}

.tmap_circle2 {
	width: 65px;
	height: 65px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -36px;
	margin-top: -36px;
	border-color: #14754E transparent;
	border-width: 6px;
	border-style: solid;
	border-radius: 60px;
	/* box-shadow: 0 0 105px #4d585a; */
	-webkit-animation: sanimation 1s linear 0s infinite alternate;
	-webkit-transform: rotate(45deg) scale(2,2);
}

.tmap_circleFont {
	height: 2rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -1rem;
	text-align: center;
	color: rgba(127, 255, 0, 1);
	width: 100%;
	-webkit-transform: scale(1.5,1.5) !important;
	-webkit-animation: sanimation 1s linear 0s infinite alternate;
}

.tmap_symbol {
	right: 0px;
	text-align: left;
	padding: 8px;
}

.tmap_shine_shine{
	-webkit-animation-name: shineDefault;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
	border-radius: 5px;
}

@-webkit-keyframes banimation {
	30% {
		-webkit-transform:rotate(360deg);
	}
	100% {
		-webkit-transform:rotate(0deg);
	}
}
@-webkit-keyframes sanimation {
	100% {
		-webkit-transform:rotate(360deg);
	}
}

@-webkit-keyframes shineDefault {
	from { -webkit-box-shadow: 0 0 11px #333; }
	50% { -webkit-box-shadow: 0 0 20px #fff }
	to { -webkit-box-shadow: 0 0 11px #333; }
}

.cgi_content{
	margin-top: 5px;
}
.vedio_button {
	vertical-align: middle;
	background-color: #244b6b;
	border: 1px solid black;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #fff;
	padding: 0px 8px 0px 8px;
	cursor: pointer;
}
.cgi_content p{
	white-space: nowrap;
	margin-bottom: 2px;
}
.cgi_content .underline{
	color: rgb(47, 242, 16);
}
.cgi_content .buttonstyle,.buttonstyle{
	margin-right: 20px;
	vertical-align: middle;
	background-color: #244b6b;
	border: 1px solid black;
	text-align: center;
	font-size: 14px;
	line-height: 25px;
	color: #fff;
	padding: 0px 8px 0px 8px;
}
.cgi_content .checkboxstyle{
	margin-right: 3px;
}
@-webkit-keyframes opac {
  from{
    opacity: 1;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
  to{
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
.animate .w2{
  opacity: 0;
  -webkit-animation-delay: 1s;
}
.animate .w3{
  opacity: 0;
  -webkit-animation-delay: 2s;
}
.animate .w4{
  opacity: 0;
  -webkit-animation-delay: 3s;
}
.wave{
  width: 160px;
  height: 160px;
  position: absolute;
  top: -80.5px;
  left: -80.5px;
}
.wave *{
  opacity: 0;
  border: 3px solid red;
  position: absolute;
  border-radius: 50%;
  -webkit-animation:  opac 5s infinite;
}

@-webkit-keyframes opac1 {
  from{
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  to{
    opacity: 0;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
  }
}
.animate .t2{
  opacity: 0;
  -webkit-animation-delay: 0.1s;
}
.animate .t3{
  opacity: 0;
  -webkit-animation-delay: 0.2s;
}
.animate .t4{
  opacity: 0;
  -webkit-animation-delay: 0.3s;
}
.wave1{
  width: 160px;
  height: 160px;
  position: absolute;
  top: -80.5px;
  left: -80.5px;
}
.wave1 *{
  opacity: 0;
  border: 3px solid red;
  position: absolute;
  border-radius: 50%;
  -webkit-animation:  opac1 1s infinite;
}
.overlayInnerHTML {
  display: none;
  width: 200px;
  background-color: #666784;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -45px;
  left: 110%;
  padding: 5px 0 5px 12px;
  height: 92px;
}
.overlayInnerHTML:after {
  position: absolute;
  content: '';
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border: 5px solid transparent;
  border-right-color: #666784;
}
